@use '../../styles/mixins' as*;
@use '../../styles/variables.scss' as*;


#aboutme {
    @include laptop {
        background-color: red;
        padding: 3rem;
    }

    @include tablet {
        background-color: blueviolet;
        padding: 2rem;
    }

    @include mobile {
        background-color: green;
        padding: 1rem;
    }
}