@use "../../../styles/variables.scss" as *;

.title {
  color: $title-color;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 48px;
  line-height: 76px;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.advantagesSection {
  padding: 80px 20px;
  text-align: center;
}

.accordionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  line-height: 76px;
  color: $text-color;
  border-bottom: 1px solid rgba(35, 29, 23, 0.5);
  background: url("/icons/tick.png") left no-repeat;
  background-size: 31px 31px; 
  padding-left: 40px;
}

.accordionContent {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  color: $text-color
}

.active {
  background-color:$accordeon-background-color;
}

.accordionItem img {
  margin-right: 15px;
  width: 20px;
}