$text-color: #231d17;
$title-color: #5e3109;
$button-text: #ffffff;
$button-background-color: #753e0d;
$border-radius: 15px;
$button-hover: #e9672b33;
$button-hover-text: #753e0d;

$primary-font: 'Playfair Display', sans-serif;
$primary-font-size: 24px;
$secondary-font: 'Playfair', sans-serif;
$header-font: 'Roboto', sans-serif;
