$text-color: #231d17;
$title-color: #5e3109;
$button-text: #ffffff;
$button-background-color: #753e0d;
$border-radius: 0.9375rem;
$button-hover: #e9672b33;
$button-hover-text: #753e0d;

$primary-font: 'Playfair Display', sans-serif;
$secondary-font: 'Playfair', sans-serif;
$header-font: 'Roboto', sans-serif;
$paragraph-font: 'Inter', sans-serif;

$primary-font-size: 1.5rem;

$bigtext-color: rgb(35, 29, 23, 0.81);
$subtext-color: rgba(35, 29, 23, 0.5);
$accordeon-background-color: rgba(117, 62, 13, 0.3);
$modal-background-color: #F2EED7;

$mobile: 26.25rem;
$tablet: 48rem;
$laptop: 64rem;
$laptop-title: 2.375rem;

$desktop: 80rem;