@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  z-index: 999;
}

.serviceModal {
  background: #f7f5e6;
  max-width: 45rem;
  width: 100%;
  padding: 2.5rem;
  max-height: 85vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.25);
  text-align: center;

  @media (min-width: 1440px) {
    max-width: 894px;
    padding: 2rem 2.5rem;
    max-height: 80vh;
  }

  p {
    margin-bottom: 1.25rem;
    color: rgba(35, 29, 23, 1);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2.81rem;
    text-align: left;

    @media (min-width: 1440px) {
      font-size: 1rem;
      line-height: 1.6rem;
    }
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 0 0.75rem;

    button {
      position: relative;
      background: none;
      border: none;
      color: rgba(35, 29, 23, 1);
      font-family: "Playfair Display", serif;
      font-size: 1.25rem;
      font-weight: 700;
      padding: 10px 0;
      width: 100%;
      text-align: left;
      cursor: pointer;
      transition: color 0.3s ease;
      @media (min-width: 1440px) {
        font-size: 1rem;
        line-height: 1.6rem;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 0%;
        background-color: rgba(35, 29, 23, 1);
        transition: width 0.3s ease-in-out;
      }

      &:hover {
        color: #5e3109;

        &::after {
          width: 100%;
        }
      }
    }
  }
}

.auto {
  text-align: left;
  font-family: Playfair Display;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.25rem;
  line-height: 2.81rem;
}

.price {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2.81rem;
  text-align: center;
}

@media (max-width: 30rem) {
  .modal {
    padding: 1.5rem;
  }
}
