@use "../../styles/variables" as*;


.title {
  // margin-top: 50px;
  color: $title-color;
  margin-bottom: 2.5rem;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4.75rem;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contactsSection {
  padding: 5rem 1.25rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
// .contactsContainer{
//   padding: 20px;
//   text-align: center;
// }

.contactsContainer p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 4.75rem;
  color: $text-color;
  text-align: center;
  margin: 0;
}
.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.9375rem;
  margin-top: 3.5rem;
}
.iconsContainer img {
  width: 5.5625rem;
  height: 5.25rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}