

$text-color: #231D17;
$title-color: #5E3109;
$button-text: #FFFFFF;
$button-background-color: #753E0D;
$border-radius: 15px;
$button-hover: #E9672B33;
$button-hover-text: #753E0D;

$primary-font: 'Playfair Display', sans-serif;
$primary-font-size: 24px;
$secondary-font: 'Playfair', sans-serif;
$header-font: 'Roboto', sans-serif;
