.carousel {
  position: relative;
  margin: 3rem 0;
  p {
    background-color: transparent;
    position: absolute;
    top: 40%;
    left: 50%;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    margin: 0;
    @media (max-width: 1000px) {
      left: 10%;
    }
    @media (max-width: 600px) {
      display: none;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.custom_prev {
  transform: translate(calc(-100% - 200px), -22%);
  @media (max-width: 1000px) {
    transform: translate(0, -40%);
  }
}

.custom_next {
  transform: translate(calc(200px), -40%) rotate(180deg);
  @media (max-width: 1000px) {
    transform: translate(0, -40%) rotate(180deg);
    right: 10%;
  }
}
.carousel_img {
  width: 100%;
  object-fit: cover;
  height: 280px;
  box-shadow: 0 8px 4px #753e0d40;
  cursor: pointer;
  @media (max-width: 1000px) {
    width: 50%;
  }
  @media (max-width: 600px) {
    width: 80%;
  }
}

:global(.swiper-slide) {
  opacity: 0.5;
  transform: scale(0.8) !important;
  transition: all 0.5s ease-out;
}

:global(.swiper-slide-active) {
  opacity: 1;
  transform: scale(1) !important;
}
